<div class="top-bar">
  <div class="words center" contenteditable></div>
</div>


<div class="container">
  <div class="panel box-1">
    <h1 class="gold center">
      Say Hello
    </h1>
  </div>
  <div class="panel box-center">
    <div class="fortune-box hidden">
      <h1 class="fortune hidden">What is your favorite season?</h1>
      <div class="fortune-2 hidden">
        <p>say goodbye to play again</p>
      </div>
      
      <h1 class="question-4 hidden">What is your favorite season?</h1>
      <div class="answers-4 hidden">
        <p>Spring Summer Fall Winter</p>
      </div>
      
      <h1 class="question-3 hidden">What is your favorite element?</h1>
      <div class="answers-3 hidden">
        <p>Water Fire Earth Wind</p>
      </div>
      
      <h1 class="question-2 hidden">What is your favorite animal?</h1>
      <div class="answers-2 hidden">
        <p>Eagle Cat Dog Thing</p>
      </div>
      
      <h1 class="question-1">Would you like to hear your fortune?</h1>
      <div class="answers-1">
        <p>Yes No</p>
      </div>
      
      <%= image_tag("crystal-ball.png", class: "crystal-ball") %>
    </div>
  </div>
  <div class="panel box-2">
    <h1 class="gold center">
      Say Goodbye
    </h1>
  </div>
</div>
  
  

