<body id="home-mobile">
    <h1 class="mobile-title">Meme Illuminati</h1>
        <h1 class="mobile-message">
            Web Speech API is currently
            unavailable for your device or browser.
            To use this web app please
            access it on a desktop computer
            using Google Chrome browser.
        </h1>
</body>

<script>
    //mobile script
  const mobileMessage = document.querySelector('.mobile-message');
  window.onload = setTimeout(function() {
      mobileMessage.style.opacity = '0.90';
  }, 500);
</script>