// Mixins
$gold: #e88a18;

body {
    margin: 0;
    background: black;
    overflow: hidden;
}

.top-bar {
    width: 100%;
}

#home-mobile {
    background: url(mobile-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.mobile-message {
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: $gold;
    font-size: 2em;
    transition: 2s;
    opacity: 0.0;
    background-color: rgba(0,0,0,.8);
}
.mobile-title {
    text-align: center;
    color: $gold;
    font-size: 2.4em;
    opacity: 0.9;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.gold {
    color: $gold !important;
}

.words {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 1rem 1rem 1rem;
    background: white 0 4px;
    background-size: 100% 3rem;
    line-height: 1em;
    z-index: 9999;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.5em;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 2em;
    }
}

p {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

// layout
.container {
      min-height: 100vh;
      overflow: hidden;
      display: flex;
}
 

.panel {
      text-align: center;
      align-items: center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 13px;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center; /*center left to right*/
      align-items: center; /*center horizontally*/
}


.box-1 {
    background-image: url(left.jpg);
    flex: 1;
    transition: 2s;
}
.box-center {
    background: black;
    flex: 0;
}
.box-2 {
    background-image: url(right.jpg);
    flex: 1;
    transition: 2s;
}

.box-top-right {
    border-top-right-radius: 25px;
}

.box-top-left {
    border-top-left-radius: 25px;
}

// Center Panel
.crystal-ball {
    height: 100px;
    width: 100px;
    //transition: 2s;
    //opacity: 0;
}

.hidden {
    display: none;
}

img.crystal-ball {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(15px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(15px); }
}

.fortune-box {
    transition: 2s;
    opacity: 0;
}

//Fortune Quiz

.question-1 {
    color: $gold;
    transition: 2s;
}

.answers-1 {
    color: $gold;
    font-size: 1.8em;
    transition: 2s;
}

.question-2 {
    color: $gold;
    transition: 2s;
    opacity: 0.0;
}

.answers-2 {
    color: $gold;
    font-size: 1.8em;
    transition: 2s;
    opacity: 0.0;
}

.question-3 {
    color: $gold;
    transition: 2s;
    opacity: 0.0;
}

.answers-3 {
    color: $gold;
    font-size: 1.8em;
    transition: 2s;
    opacity: 0.0;
}

.question-4 {
    color: $gold;
    transition: 2s;
    opacity: 0.0;
}

.answers-4 {
    color: $gold;
    font-size: 1.8em;
    transition: 2s;
    opacity: 0.0;
}

.fortune {
    color: $gold;
    transition: 2s;
    opacity: 0.0;
}

.fortune-2 {
    color: $gold;
    font-size: 1.8em;
    transition: 2s;
    opacity: 0.0;
}