<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
</head>
<body>

<%= yield %>

<script>
    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(function(stream) {
        console.log('Please enable your microphone to use this app')
      })
      .catch(function(err) {
        console.log('This app requires the use of a microphone')
    });


  let score = 0;

  const fortunes1 = [
    "A beautiful, smart, and loving person \nwill be coming into your life",
    "A dubious friend may be an enemy in camouflage",
    "A faithful friend is a strong defense",
    "A feather in the hand is better than a bird in the air",
    "A fresh start will put you on your way",
    "A friend asks only for your time not your money",
    "A friend is a present you give yourself",
    "A gambler not only will lose what he has, \nbut also will lose what he doesn’t have",
    "A golden egg of opportunity falls into your lap this month",
    "A good friendship is often more important \nthan a passionate romance",
    "A good time to finish up old tasks",
    "A hunch is creativity trying to tell you something",
    "A lifetime friend shall soon be made",
    "A lifetime of happiness lies ahead of you",
    "A light heart carries you through all the hard times",
    "A new perspective will come with the new year",
    "A person is never to old to learn"
    ]
  
  const fortunes2 = [
    "A person of words and not \ndeeds is like a garden full of weeds",
    "A pleasant surprise is waiting for you",
    "A short pencil is usually \nbetter than a long memory any day",
    "A small donation is call for. \nIt’s the right thing to do",
    "A smile is your personal welcome mat",
    "A smooth long journey! Great expectation",
    "A soft voice may be awfully persuasive",
    "A truly rich life contains love and art in abundance",
    "Accept something that you cannot change, and you will feel better",
    "Adventure can be real happiness",
    "Advice is like kissing. \nIt costs nothing and is a pleasant thing to do",
    "Advice, when most needed, is least heeded",
    "All the effort you are making will ultimately pay off",
    "All the troubles you have will pass away very quickly",
    "All will go well with your new project",
    "All your hard work will soon pay off",
    "Never give up, all is achievable"
    ]
  
  const fortunes3 = [
    "A closed mouth gathers no feet",
    "Beware of Moths",
    "A witch's mouth can speak tricks or truth",
    "One leaf fallen, does not kill the tree",
    "Melts in your hand, not in your mouth!",
    "Never let them see you cry",
    "An alien of some sort will \nbe appearing to you shortly",
    "Do not mistake temptation for opportunity",
    "The oldest and strongest emotion know to man is fear",
    "Drinking water in the night has been \nshown to have a positive effect on mood",
    "Flattery will go far tonight",
    "This place is only a dream",
    "Wake up neo",
    "This place is a dream, all you \nhave to do is find out how to wake up",
    "Do you think the other you knows we're talking?",
    "It is better to be feared than loved, \nif you cannot be both",
    "Never was anything great achieved without danger"
    ]
  
  const fortunes4 = [
    "Check out @fitcouplesworldwide on Instagram",
    "You can't see me, but im in the room with you right now",
    "When Slenderman screams, the world will end",
    "When you reach round a dark corner \nto switch on a light, be careful",
    "Slenderman can invoke memory loss in all but the most resolute",
    "How can you tell that you're really you?",
    "He is the Rake, if you sleep \nthis night he will tell you his secrets",
    "Try mixing some cardamom into your coffe grounds for a nbew flavor!",
    "There ain't no clones, and I ain't a clone, and the earth ain't a globe",
    "Tick Tick Tok, its Salvia-o-clock",
    "I have come to lead you to the other shore; \ninto eternal darkness; \ninto fire and into ice",
    "Some teeth long for ripping, \ngleaming wet from black dog gums",
    "I really have the heart of a small boy. \nI keep it in a jar on my desk",
    "We ask only to be reassured about the noises in the cellar",
    "Blood is really warm, it’s like drinking hot chocolate",
    "Did you know that trees are \nperfectloy suited to live on Earth?",
    "There are still old things left \nin the deeper parts of the world"
    ]
  
  window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  
  const recognition = new SpeechRecognition();
  //populates results while speaking
  recognition.interimResults = true;
  
  let body = document.querySelector('body');
  
  let p = document.createElement('p');
  const words = document.querySelector('.words');
  words.appendChild(p);
  
  recognition.addEventListener('result', e =>{
    const transcript = Array.from(e.results)
    .map(result => result[0])
    .map(result => result.transcript)
    .join('');
    
    p.textContent = transcript;
    
    
    // Move flex-boxes
    let area = document.querySelector('.box-center');
    let box1 = document.querySelector('.box-1');
    let box2 = document.querySelector('.box-2');
    
    //Crystal Ball/Fortune area
    const fortuneBox = document.querySelector('.fortune-box');
  
    function fadeIn(ele) {
      ele.style.opacity = '0.90';
    }
    function fadeOut(ele) {
      ele.style.opacity = '0';
    }
    
    // Open
    if(transcript.includes('hello')){
      area.style.flex = 2;
      
      box1.style.flex = 0.75;
      box2.style.flex = 0.75;
      
      box1.classList.add('box-top-right');
      box2.classList.add('box-top-left');
      
      area.classList.add('isOpen');
      setTimeout(function() {fortuneBox.classList.remove('hidden')}, 1000);
      setTimeout(function() {fadeIn(fortuneBox)}, 1500);
    }
    
    // Close
    if(transcript.includes('goodbye')){
      fadeOut(fortuneBox);
      setTimeout(function() {fortuneBox.classList.add('hidden')}, 2100);
      setTimeout(function() {
        area.style.flex = 0;
      
        box1.classList.remove('box-top-right');
        box2.classList.remove('box-top-left');
     
        box1.style.flex = 1;
        box2.style.flex = 1;
        
        area.classList.remove('isOpen');
        reset();
      }, 2150);
    }
    
    
    //Fortune Functions
    let question1 = document.querySelector('.question-1');
    let answers1 = document.querySelector('.answers-1');
    
    let question2 = document.querySelector('.question-2');
    let answers2 = document.querySelector('.answers-2');
    
    let question3 = document.querySelector('.question-3');
    let answers3 = document.querySelector('.answers-3');
    
    let question4 = document.querySelector('.question-4');
    let answers4 = document.querySelector('.answers-4');
    
    let fortune = document.querySelector('.fortune');
    let instructions = document.querySelector('.fortune-2');
    
    function reset() {
      setTimeout(function() {
        window.location.reload(true);
      }, 2175)
    }
    
    function firstQuestion() {
      firstQuestion.called = true;
      question1.remove();
      answers1.remove();
      
      question2.classList.remove('hidden');
      answers2.classList.remove('hidden');
      
      setTimeout(function() {
        fadeIn(question2);
        fadeIn(answers2);
      }, 1000);
    }
    
    function secondQuestion() {
      if(firstQuestion.answered != false) {
        fadeOut(question2);
        fadeOut(answers2);
          
        setTimeout(function() {
          secondQuestion.called = true;
        
          question2.remove();
          answers2.remove();
      
          question3.classList.remove('hidden');
          answers3.classList.remove('hidden');
      
          setTimeout(function() {
            fadeIn(question3);
            fadeIn(answers3);
          }, 1000);
        }, 2200);
      }
    }
    
    function thirdQuestion() {
      if(secondQuestion.answered != false) {
        fadeOut(question3);
        fadeOut(answers3);
          
        setTimeout(function() {
          secondQuestion.called = true;
        
          question3.remove();
          answers3.remove();
      
          question4.classList.remove('hidden');
          answers4.classList.remove('hidden');
      
          setTimeout(function() {
            fadeIn(question4);
            fadeIn(answers4);
          }, 1000);
        }, 2200);
      }
    }
    
    
    function displayFortune() {
      score > 16 ? Math.floor(score /= 4) : score;
      let randomNumber = Math.floor(Math.random() * (16 - 0) + 0);
      
      if (score <= 4){
        fortune.innerHTML = fortunes1[randomNumber];
      }
      else if(score > 4 && score < 8) {
        fortune.innerHTML = fortunes2[randomNumber];
      } 
      else if(score > 8 && score < 12) {
        fortune.innerHTML = fortunes3[randomNumber];
      }
      else {
        fortune.innerHTML = fortunes4[randomNumber];
      }
      
      //display the fortune
      if(thirdQuestion.answered != false) {
        fadeOut(question4);
        fadeOut(answers4);
        
        setTimeout(function() {
          thirdQuestion.called = true;
        
          question4.remove();
          answers4.remove();
      
          fortune.classList.remove('hidden');
          instructions.classList.remove('hidden');
          
          setTimeout(function() {
            fadeIn(fortune);
            
            setTimeout(function() {fadeIn(instructions)}, 800);
          }, 1000);
        }, 2200);
      }
      
    }
    
    // use callback functions here with if statements that check for firstQuestion.answered = true;
    function beginQuiz() {
      beginQuiz.called = true;
      //do the quiz
      fadeOut(answers1);
      fadeOut(question1);
      
      // set first question to run after originalfades out
      setTimeout(function() {
        firstQuestion();
      }, 2200);
    }
    //start quiz if area is open and yes was said
    if(transcript.includes('yes') && area.classList.contains('isOpen') && beginQuiz.called != true){
      beginQuiz();
    }
    
    
    //first question
    if(transcript.includes('eagle') && !question1 && firstQuestion.called != false && firstQuestion.answered != true && area.classList.contains('isOpen')){
      firstQuestionAnswered = true;
      score += 1;
      secondQuestion();
    }
    if(transcript.includes('cat') && !question1 && firstQuestion.called != false && firstQuestion.answered != true && area.classList.contains('isOpen')){
      firstQuestion.answered = true;
      score += 2;
      secondQuestion();
    }
    if(transcript.includes('dog') && !question1 && firstQuestion.called != false && firstQuestion.answered != true && area.classList.contains('isOpen')){
      firstQuestion.answered = true;
      score += 3;
      secondQuestion();
    }
    if(transcript.includes('thing') && !question1 && firstQuestion.called != false && firstQuestion.answered != true && area.classList.contains('isOpen')){
      firstQuestion.answered = true;
      score += 4;
      secondQuestion();
    }
    
     //second question
    if(transcript.includes('water')  && !question2 && secondQuestion.called != false && secondQuestion.answered != true && area.classList.contains('isOpen')){
      thirdQuestion.answered = true;
      score += 1;
      thirdQuestion();
    }
    if(transcript.includes('fire') && !question2 && secondQuestion.called != false && secondQuestion.answered != true && area.classList.contains('isOpen')){
      thirdQuestion.answered = true;
      score += 2;
      thirdQuestion();
    }
    if(transcript.includes('Earth') && !question2 && secondQuestion.called != false && secondQuestion.answered != true && area.classList.contains('isOpen')){
      secondQuestion.answered = true;
      score += 3;
      thirdQuestion();
    }
    if(transcript.includes('wind') && !question2 && secondQuestion.called != false && secondQuestion.answered != true && area.classList.contains('isOpen')){
      secondQuestion.answered = true;
      score += 4;
      thirdQuestion();
    }
    
    
    // reveal answer
    //second question
    if(transcript.includes('spring')  && !question3 && thirdQuestion.called != false && thirdQuestion.answered != true && area.classList.contains('isOpen')){
      score += 1;
      displayFortune();
    }
    if(transcript.includes('summer') && !question3 && thirdQuestion.called != false && thirdQuestion.answered != true && area.classList.contains('isOpen')){
      score += 2;
      displayFortune();
    }
    if(transcript.includes('fall') && !question3 && thirdQuestion.called != false && thirdQuestion.answered != true && area.classList.contains('isOpen')){
      score += 3;
      displayFortune();
    }
    if(transcript.includes('winter') && !question3 && thirdQuestion.called != false && thirdQuestion.answered != true && area.classList.contains('isOpen')){
      score += 4;
      displayFortune();
    }
    
  });

  

  recognition.addEventListener('end', recognition.start);
  recognition.start();
</script>

</body>

<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
</html>
